@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Page</th>
                <th>Section</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.page</td>
                    <td>@forecast.section</td>
                    <td>@forecast.content</td>

                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/wikiData.json");
    }

    public class WeatherForecast
    {
        public string? page { get; set; }

        public string? section { get; set; }

        public string? content { get; set; }
    }
}
