body {
}

#searchBar {
    margin-top: -74px;
}

input {
    border-color: #6c757d;
}

input::-webkit-input-placeholder {
    color: #6c757d;
}

input::-moz-placeholder {
    color: #6c757d;
}

input:-ms-input-placeholder {
    color: #6c757d;
}

input:-moz-placeholder {
    color: #6c757d;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #6c757d;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }