body {
}

.kudosText {
    /*color: black;*/
    color: #1c5380;
}

    .kudosText .text-muted {
        color: #0d385b !important;
    }

.kudosTextInline {
    /*color: black;*/
    color: #1c5380;
    padding-top: 40px;
}

    .kudosTextInline .text-muted {
        color: #0d385b !important;
    }

.kudosTextTop {
    /*color: black;*/
    color: #1c5380;
    margin-top: -10px;
    margin-bottom: 15px;
}

    .kudosTextTop .text-muted {
        color: #0d385b !important;
    }

.kudosTextToggle {
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: flex-end;
    color: #0d385b !important;
}

    .kudosTextToggle label {
        margin-right: 50px;
        padding-top: 0px;
    }

    .kudosTextToggle .inputCheck {
        margin-right: 0px;
        padding-top: 0px;
    }

#searchBar {
    margin-top: -74px;
}

input {
    border-color: #6c757d;
}

input::-webkit-input-placeholder {
    color: #6c757d;
}

input::-moz-placeholder {
    color: #6c757d;
}

input:-ms-input-placeholder {
    color: #6c757d;
}

input:-moz-placeholder {
    color: #6c757d;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #6c757d;
    border-radius: 5px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }