@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="bg-dark text-light">
        <div class="top-row px-4 auth bg-dark text-light">
            <LoginDisplay />
            <a href="https://www.kudos-software.co.uk" target="_blank">Our Website</a>
        </div>

        <article class="content px-4 bg-dark text-light">
            @Body
        </article>
    </main>
</div>
