<div class="ps-3 navbar">
    <div class="container-fluid">
        <h4 class=".kudosText">
            Kudos <small class="text-muted">Internal Wiki</small>
        </h4>
        <button title="Navigation menu" class="navbar-toggler text-light" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column text-light">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light" href="Counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Hardware
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Software
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
